extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jake Morris

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            p.text-light When I graduated from James Madison University in 2012 with a B.S. in Geographic Sciences I was not able to find a job in the field.  This led me to become one of the founding members of The Juice Laundry. We sold organic juice through the farmers market and eventually opened our first physical location in the fall of 2015. I became the juicing manager and helped us expand from 1 store to 3. I learned a lot about how to manage conflicts with employees, customers, and how to solve the unique problems that surfaced each and every day. 
            p.text-light Eventually I realized I was unfulfilled at work and needed to try something new. I talked with some of my closest friends and the discussions led to coding. My friend took a coding boot camp and I tried it out a month later. It was a tough month, I would work 9-10 hours at the juice job and then 3 hours M-Th in the evenings.  It was an exhausting experience, but I knew I had to go after it. After putting in my two-weeks in June I have been pursuing the Javascript Fullstack Techdegree through Treehouse as if I were working a fulltime job. It is my dream to create websites and products that allow people to live a more sustainable life. My goal to start a new career and new journey in January of 2020 after completing this course.  
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Javascript
          li HTML
          li CSS
          li jQuery
          li Public API Requests 
          li Node.js
          li Express
          li Pug
        h6 Contact Info

        ul
          li 555-555-1234
          li email@email.com

        a.button.expanded(href='https://www.linkedin.com/in/jakemorris1818/') LinkedIn
        a.button.expanded(href='https://github.com/JakeScudder') GitHub
        a.button.expanded(href='https://www.instagram.com/scudsterr/?hl=en') Instagram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  