extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1(class= "animated fadeInDown") My Current Portfolio

      p.intro
        | This project will highlight all my past projects in a sleek, easy to use interface.  It will be my first venture into node.js and utilizing npm frameworks such as Express and Pug.
  article(id="square-grid" class="grid-container portfolio-index animated zoomIn")
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      - var projects = [0, 1, 2, 3, 4, 5];
      each n in projects
        - var id = n
        -var projNum = n + 1
        - var img = "http://localhost:3000/static/images/square/Project-Id-" + n + '.png'
        - var name = 'Techdegree Project ' + projNum
        .cell
          a(href='/project/' + id)
            img.thumbnail(src=img)
            if name === 'Techdegree Project 6'
              h5 Gallery Website
            else
              h5=name
    
